﻿@{
ViewData["Title"] = "User Home";
Layout = "_Layout_Gpm_User";
}

<div class="text-center">
	<h1 class="display-4">User Features</h1>
</div>

<div class="row p-3">

	<div class="col-12 col-md-6 col-lg-3 mb-3">
		<div class="form-group">
			<a asp-controller="GatePass"
			   asp-action="DeptSelect"
			   class="btn btn-cstm-sec-light form-control-lg shadow-light w-100">New Patient Gate Pass</a>
			<div class="form-text text-center text-cstm-dark">View availaible quotas and create gate pass for a
				Patient</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-3 mb-3">
		<div class="form-group">
			<a asp-controller="GatePass"
			   asp-action="TypeSelect"
			   class="btn btn-cstm-sec-light form-control-lg shadow-light w-100">New Visitor/EM Pass</a>
			<div class="form-text text-center text-cstm-dark">Create a new Visitor or Emergency gate pass directly</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-3 mb-3">
		<div class="form-group">
			<a asp-controller="GatePass"
			   asp-action="FindOne"
			   class="btn btn-cstm-sec-light form-control-lg shadow-light w-100">Find One Gate Pass</a>
			<div class="form-text text-center text-cstm-dark">Search for a single gatepass</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-3 mb-3">
		<div class="form-group">
			<a asp-controller="GatePass"
			   asp-action="Find"
			   class="btn btn-cstm-sec-light form-control-lg shadow-light w-100">Search Gate Pass</a>
			<div class="form-text text-center text-cstm-dark">Search for Gate passes with filters.</div>
		</div>
	</div>

</div>


<hr class="bg-cstm-pri">



<div class="text-center">
	<h1 class="display-4">Admin Features</h1>
</div>

<div class="row p-3">

	<div class="col-12 col-md-6 col-lg-4 mb-3">
		<div class="form-group">
			<a asp-controller="Quota"
			   asp-action="Index"
			   class="btn btn-cstm-alt-2-light form-control-lg shadow-light w-100">View Quotas</a>
			<div class="form-text text-center text-cstm-dark">View assigned quotas for selected date</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-4 mb-3">
		<div class="form-group">
			<a asp-controller="Quota"
			   asp-action="Edit"
			   class="btn btn-cstm-alt-2-light form-control-lg shadow-light w-100">Edit Quota</a>
			<div class="form-text text-center text-cstm-dark">Edit Quotas for Selected date and Department.</div>
		</div>
	</div>

	<!-- BEGIN: sak debug quota cache bug -->
	<div class="col-12 col-md-6 col-lg-4 mb-3">
		<div class="form-group">
			<a asp-controller="Quota"
			   asp-action="QuotaCache"
			   class="btn btn-cstm-alt-2-light form-control-lg shadow-light w-100">View Cached Quotas</a>
			<div class="form-text text-center text-cstm-dark">View working cache of quotas for all departmnts</div>
		</div>
	</div>
	<!-- FINIS: sak debug quota cache bug -->

	<!-- <div class="col-12 col-md-6 col-lg-4 mb-3">
		<div class="form-group">
			<a asp-controller="Quota"
			   asp-action="Edit"
			   class="btn btn-cstm-alt-2-light form-control-lg shadow-light w-100">Generate Quotas</a>
			<div class="form-text text-center text-cstm-dark">Generate Quotas for selected date or Selected range of dates.
				For all Departments using the default Quota values.</div>
		</div>
	</div> -->


	<div class="col-12 col-md-6 col-lg-4 mb-3">
		<div class="form-group">
			<a asp-controller="User"
			   asp-action="Index"
			   class="btn btn-cstm-alt-2-light form-control-lg shadow-light w-100">View Users</a>
			<div class="form-text text-center text-cstm-dark">View all Users in the system.</div>
		</div>
	</div>


	<div class="col-12 col-md-6 col-lg-4 mb-3">
		<div class="form-group">
			<a asp-controller="User"
			   asp-action="Edit"
			   asp-route-id="0"
			   class="btn btn-cstm-alt-2-light form-control-lg shadow-light w-100">Create User</a>
			<div class="form-text text-center text-cstm-dark">Create a User for accessing the system.</div>
		</div>
	</div>

	<!-- 
	<div class="col-12 col-md-6 col-lg-4 mb-3">
		<div class="form-group">
			<a asp-controller="User"
			   asp-action="Edit"
			   class="btn btn-cstm-alt-2-light form-control-lg shadow-light w-100">Edit User</a>
			<div class="form-text text-center text-cstm-dark">Edit a selected user's details.</div>
		</div>
	</div>
	-->


</div>

<div class="row p-3">

	<div class="col-12">
		<div class="form-group">
			<a asp-controller="Session"
			   asp-action="Logout"
			   class="btn btn-outline-cstm-alt-2-light text-cstm-dark form-control-lg shadow-light w-100">Sign Out</a>
			<div class="form-text text-center text-info">Signout of this application.</div>
		</div>
	</div>

</div>
