﻿@{
    ViewData["Title"] = "Home Page";
	Layout = "_Layout_Gpm_User";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
				<a asp-controller="Session"
			   asp-action="Login">Begin Demo Now.</a>

</div>
