﻿@{
ViewData["Title"] = "User Home";
Layout = "_Layout_Gpm_User";
}

<div class="text-center">
	<h1 class="display-4">User</h1>
</div>

<div class="row p-3">

	<div class="col-12 col-md-6 col-lg-3 mb-3">
		<div class="form-group">
			<a asp-controller="GatePass"
			   asp-action="DeptSelect"
			   class="btn btn-cstm-sec-light form-control-lg shadow-light w-100">New Patient Gate Pass</a>
			<div class="form-text text-center text-cstm-dark">View availaible quotas and create gate pass for a
				Patient</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-3 mb-3">
		<div class="form-group">
			<a asp-controller="GatePass"
			   asp-action="TypeSelect"
			   class="btn btn-cstm-sec-light form-control-lg shadow-light w-100">New Gate Pass</a>
			<div class="form-text text-center text-cstm-dark">Create a gate pass directly</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-3 mb-3">
		<div class="form-group">
			<a asp-controller="GatePass"
			   asp-action="FindOne"
			   class="btn btn-cstm-sec-light form-control-lg shadow-light w-100">Find One Gate Pass</a>
			<div class="form-text text-center text-cstm-dark">Search for a single gatepass</div>
		</div>
	</div>

	<div class="col-12 col-md-6 col-lg-3 mb-3">
		<div class="form-group">
			<a asp-controller="GatePass"
			   asp-action="Find"
			   class="btn btn-cstm-sec-light form-control-lg shadow-light w-100">Search Gate Pass</a>
			<div class="form-text text-center text-cstm-dark">Search for Gate passes with filters.</div>
		</div>
	</div>

</div>

<div class="row p-3">

	<div class="col-12">
		<div class="form-group">
			<a asp-controller="Session"
			   asp-action="Logout"
			   class="btn btn-outline-cstm-alt-2-light text-cstm-dark form-control-lg shadow-light w-100">Sign Out</a>
			<div class="form-text text-center text-info">Signout of this application.</div>
		</div>
	</div>

</div>
