@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;

@inject SL.DD_Lookup DDHelp;

@{
	ViewData["Title"] = "Quota Editor";
	Layout = "_Layout_Gpm_User";
	@model CTX.Quotas;

	string lsAllowSave = Model.Department > 0 ? "" : "disabled";
	// GetItems	
	List<ML.DD_Item> lstDepts = DDHelp.GetItems(SE.DDCategories.DEPARTMENTS, true); //.OrderBy(y => y.DisplaySeq).ToList();
}


<div class="container-fluid my-3">

	<!-- Quota Edit Form -->
	<!-- ========================================================================================================== -->
	<form method="post"
			asp-controller="Quota"
			asp-action="Edit"
			autocomplete="off"
			class="">

		<input type="hidden"
				id="DateInt"
				name="DateInt"
				value="@Model.DateInt">
		<input type="hidden"
				id="Date"
				name="Date"
				value="@Model.Date">
		<input type="hidden"
				id="Status"
				name="Status"
				value="@Model.Status">

		<div class="row p-3 justify-content-end">

			<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 border border-cstm-pri shadow-light">
				<div class="h1 display-4 mt-3 text-cstm-pri-dark shadow-text-outline">Edit Current Quota:
				</div>

				<div class="row">
					<div class="col-9">
						<div class="form-group">
							<label for="Department"
									class="col-form-label-lg mb-0 mt-2 w-100">Department:
							</label>
							<select class="custom-select cstm-select-bound"
									data-val="true"
									data-rule-range="[1,400]"
									data-msg-range="Department is required."
									id="Department"
									name="Department"
									data-value-current="@Model.Department">
								<option value="0">Select the Department...</option>
								@foreach (ML.DD_Item vCatg in lstDepts.OrderBy(y => y.DisplaySeq))
								{
									<option value="@vCatg.Value">@vCatg.Text</option>
								}
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
									data-valmsg-for="Department"
									data-valmsg-replace="true"></span>
						</div>
					</div>
					<div class="col-3">
						<div class="form-group">
							<label for="getVals"
							class="col-form-label-lg mb-0 mt-2 w-100">&nbsp;</label>
							<input type="submit"
									class="btn btn-cstm-alt-1-light border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100"
									value="Load"
									id="getVals"
									name="getVals">
						</div>
					</div>


					<div class="col-12">
						<div class="col-form-label-lg">Visit Quotas:</div>
					</div>

					<div class="col-6">
						<div class="form-group">
							<label for="CapNewVisit"
									class="mb-0 mt-2 w-100">First Visit:
								<span class="d-block text-cstm-alt-1-dark pl-2">Used = @Model.UsedNewVisit</span>
							</label>
							<input class="form-control border-cstm-alt-2"
									type="number"
									id="CapNewVisit"
									name="CapNewVisit"
									min="@Model.UsedNewVisit"
									data-val-min="@Model.UsedNewVisit"
									data-rule-number="true"
									data-msg-number="Only valid numbers allowed allowed"
									step="1"
									value="@Model.CapNewVisit">
							<span class="field-validation-valid text-danger cstm-text-error"
									data-valmsg-for="CapNewVisit"
									data-valmsg-replace="true"></span>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group">
							<label for="CapRevisit"
									class="mb-0 mt-2 w-100">Followup Visit:
								<span class="d-block text-cstm-alt-1-dark pl-2">Used = @Model.UsedRevisit</span>
							</label>
							<input class="form-control border-cstm-alt-2"
									type="number"
									id="CapRevisit"
									name="CapRevisit"
									min="@Model.UsedRevisit"
									data-val-min="@Model.UsedRevisit"
									data-rule-number="true"
									data-msg-number="Only valid numbers allowed allowed"
									step="1"
									value="@Model.CapRevisit">
							<span class="field-validation-valid text-danger cstm-text-error"
									data-valmsg-for="CapRevisit"
									data-valmsg-replace="true"></span>
						</div>
					</div>

				</div>

				<hr class="p-1 bg-danger">

				<div class="mt-2 text-danger h3"><b>Attention!</b> This action will update quotas in current
					use. Use with caution.</div>

				<div class="col-12">
					<div class="small text-cstm-alt-1-dark text-center">&nbsp;</div>
					<input type="submit"
							class="btn btn-lg btn-outline-danger border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100"
							value="Save"
							id="doUpdate"
							name="doUpdate" @lsAllowSave>
				</div>



			</div> <!-- Column -->
		</div> <!-- Row -->
	</form>
	<!-- ========================================================================================================== -->


</div> <!-- container-fluid -->

@section pageScript{
<script>
	// Reset values on department change
	$(document).ready(function(){
		$("#Department").on("change", function (evt){
			$("#CapNewVisit").val(0);
			$("#CapRevisit").val(0);
			$("#doUpdate").attr("disabled", "disabled");
		});
	});
</script>
}
