@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using stCode = gpm.Common.Enums.ErrorCode;
@using SL = gpm_web.Lookups;

@inject SL.DD_Lookup DDHelp;

@{
	ViewData["Title"] = "Quota Editor";
	Layout = "_Layout_Gpm_User";
	@model List<CTX.Quotas>;

	string lsDate = ViewBag.dyDay.ToString("dd/MM/yyyy");
	string lsDateEdit = ViewBag.dyDay.ToString("yyyy-MM-dd");
}

	<div class="display-4 h1 text-center">Department Quotas</div>

	<div class="container-fluid my-3">
		<span class="text-danger">
			<div class="validation-summary-valid"
				 data-valmsg-summary="true">
				<ul>
					<li style="display:none"></li>
				</ul>
			</div>
		</span>

		<div class="row justify-content-end">
			<div class="col-12 col-md-8 col-lg-6 col-xl-4">

				<form method="post"
					  asp-controller="Quota"
					  asp-action="Index"
					  class="">
					<div class="h2">For Date: <span id="dtThis"
							  name="dtThis"
							  class="h3 text-cstm-dark">@lsDate</span></div>
					<div class="form-group row align-bottom">
						<div class="w-50">
							<input type="date"
								   class="form-control form-control-lg"
								   id="dyDaySel"
								   name="dyDaySel"
								   value="@lsDateEdit">
						</div>
						<div class="w-50">
							<input type="submit"
								   class="btn btn-lg btn-cstm-alt-1-light w-75"
								   id="reload"
								   name="reload"
								   value="Get Quotas">
						</div>
						<div class="text-cstm-alt-1-dark m-2">Date, for which the quotas are to be applied, in
							dd/mm/yyyy format.</div>
					</div>

					<input type="button"
						   class="btn btn-lg btn-cstm-pri border-cstm-dark text-cstm-alt-1-light text-cstm-dark shadow-light col-12 m-0"
						   value="Save Changes for Date"
						   id="doSaveDate"
						   name="doSaveDate">
				</form>

				<hr class="border-cstm-dark">
				<div class="mb-2">&nbsp;</div>


				<div class="h2">For Date Range: <small class="muted">Inclusive.</small></div>
				<div class="row">
					<div class="col-6">
						<div class="form-group">
							<label for="dtBegin">Begin Date:</label>
							<input type="date"
								   class="form-control form-control-lg"
								   id="dtBegin"
								   name="dtBegin">
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="dtEnd">End Date:</label>
							<input type="date"
								   class="form-control form-control-lg"
								   id="dtEnd"
								   name="dtEnd">
						</div>
					</div>
				</div>


				<div class="mt-2 text-danger"><b>Warning:</b> Existing values will be overritten. Use with caution.
				</div>
				<input type="button"
					   class="btn btn-lg btn-cstm-pri border-cstm-dark text-cstm-alt-1-light text-cstm-dark shadow-light col-12 m-0"
					   value="Save Changes for Range"
					   id="doSaveRange"
					   name="doSaveRange">

				<hr class="border-cstm-dark">
				<div class="mb-5"></div>


				<div class="h2">Default Quotas: <small class="muted text-danger">Use with Caution.</small></div>

				<div class="mt-2 text-danger"><b>Warning:</b> This action cannot be undone. Verify all values before
					applying.</div>
				<input type="button"
					   class="btn btn-lg btn-light border-danger text-cstm-alt-1-light text-danger shadow-light col-12 m-0"
					   value="Set as Default Values"
					   id="doSetDefaults"
					   name="doSetDefaults">

				<hr class="border-cstm-dark">
				<div class="mb-2"></div>

			</div>


			<div class="col-12 col-md-8 col-lg-6 col-xl-4">

				<form method="post"
					  asp-controller="Quota"
					  asp-action="Put"
					  id="frmQuotas"
					  name="frmQuotas"
					  class="">
					<input type="hidden"
						   id="dyday"
						   name="dyday">
					<input type="hidden"
						   id="dyBegin"
						   name="dyBegin">
					<input type="hidden"
						   id="dyEnd"
						   name="dyEnd">
					<input type="hidden"
						   id="flAction"
						   name="flAction">

					<table class="table table-striped table-hover p-0 m-0">
						<thead class="thead-dark">
							<tr>
								<th colspan="2"
									class="align-text-bottom">Department : &nbsp;</th>
								<th class="align-text-bottom">First-Visit Cap.</th>
								<th class="align-text-bottom">Followup Cap.</th>
							</tr>
						</thead>
						<tbody>

							@foreach (CTX.Quotas vQuota in Model)
							{
							<tr>
								<td colspan="2"
									class="my-0 py-1">
									<div class="font-weight-bolder my-0 py-1">@vQuota.DeprtmentName
									</div>
								</td>
								<td class="my-0 py-1">
									<input type="number"
										class="form-control my-0 py-0"
										id="CapNewVisit"
										name="CapNewVisit"
										value="@vQuota.CapNewVisit">
								</td>
								<td class="my-0 py-1">
									<input type="number"
										class="form-control my-0 py-0"
										id="CapRevisit"
										name="CapRevisit"
										value="@vQuota.CapRevisit">
								</td>
								<input type="hidden"
									id="Department"
									name="Department"
									value="@vQuota.Department">
								<input type="hidden"
									id="Status"
									name="Status"
									value="@vQuota.Status">
								<input type="hidden"
									id="Date"
									name="Date"
									value="@vQuota.Date">
							</tr>
							}

						</tbody>
					</table>


				</form>

				<hr class="border-cstm-dark">
				<div class="mb-3">&nbsp;</div>
			</div>

		</div>
	</div>

	@section pageScript{
	<script>
		function setDefaults(e)
		{
			console.debug("Document loaded and locked!");
			$("#doSaveDate").on("click", function (e)
			{
				console.debug("Saving quotas for day.");
				// Clear non-relevant values
				$("#dyBegin").val("");
				$("#dyEnd").val("");
				// set relevent values
				$("#dyday").val($("#dyDaySel").val());
				$("#flAction").val("1");
				$("#frmQuotas").submit();
			});
			$("#doSaveRange").on("click", function (e)
			{
				console.debug("Saving quotas for date range.");
				// Clear non-relevant values
				$("#dyday").val("");
				// set relevent values
				$("#dyBegin").val($("#dtBegin").val());
				$("#dyEnd").val($("#dtEnd").val());
				$("#flAction").val("2");
				$("#frmQuotas").submit();
			});
			$("#doSetDefaults").on("click", function (e)
			{
				// Clear non-relevant values
				$("#dyBegin").val("");
				$("#dyEnd").val("");
				$("#dyday").val("");
				// set relevent values
				$("#flAction").val("9");
				$("#frmQuotas").submit();
			});
		}

		$(document).ready(setDefaults);


	</script>
	}
