<!-- BEGIN: sak debug quota cache bug -->
@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;

@inject SL.DD_Lookup DDHelp;

@{
	ViewData["Title"] = "Quota Editor";
	Layout = "_Layout_Gpm_User";
	@model List<GC.DeptDayCap>;

	// string lsAllowSave = Model.Department > 0 ? "" : "disabled";
	// GetItems	
	// List<ML.DD_Item> lstDepts = DDHelp.GetItems(SE.DDCategories.DEPARTMENTS, true); //.OrderBy(y => y.DisplaySeq).ToList();
	/*
	public class DeptDayCap : IDeptDayCap
		1. DeptCode    -> int
		2. DeptTag     -> string
		3. DeptName    -> string
		4. CapFirst    -> int
		5. CapRevisit  -> int
		6. UsedFirst   -> int
		7. UsedRevisit -> int
		8. LastDBSet   -> DateTime
	*/

}
@functions{
	string AvlQuota(int Cap, int Used){
		return FmtNUm(Cap - Used);
	}
	string FmtNUm(int Num2F){
		return Num2F.ToString("#,000");
	}
}


<div class="container-fluid my-3">
<div class="row">


		<!-- Results columns -->
		<div class="col-10">
			<div class="text-monospace text-cstm-dark h3">For @Model.Count departments.</div>
			<table class="table table-striped table-hover p-0 m-0">
				<thead class="thead-dark">
					<tr>
						<th>Code</th>
						<th>Tag</th>
						<th>Name</th>
						<th>Cap F</th>
						<th>Usd F</th>
						<th>Avl F</th>
						<th>Cap R</th>
						<th>Usd R</th>
						<th>Avl R</th>
						<th>Last Updt</th>
					</tr>
				</thead>
				<tbody>
				@foreach (GC.DeptDayCap vDDC in Model)
				{
					<tr>
						<td class="my-0 py-1">@vDDC.DeptCode </td>
						<td class="my-0 py-1">@vDDC.DeptTag </td>
						<td class="my-0 py-1">@vDDC.DeptName </td>
						<td class="my-0 py-1">@FmtNUm(vDDC.CapFirst) </td>
						<td class="my-0 py-1">@FmtNUm(vDDC.UsedFirst) </td>
						<td class="my-0 py-1">@AvlQuota(vDDC.CapFirst, vDDC.UsedFirst) </td>
						<td class="my-0 py-1">@FmtNUm(vDDC.CapRevisit) </td>
						<td class="my-0 py-1">@FmtNUm(vDDC.UsedRevisit) </td>
						<td class="my-0 py-1">@AvlQuota(vDDC.CapRevisit, vDDC.UsedRevisit) </td>
						<td class="my-0 py-1">@vDDC.LastDBSet </td>
					</tr>
				}
				</tbody>
			</table>
		</div>


</div> <!-- Row -->
</div> <!-- container-fluid -->

@section pageScript{
<script>
	// Reset values on department change
	$(document).ready(function(){
	});
</script>
}
<!-- FINIS: sak debug quota cache bug -->
