@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;
@using System.Linq;

@inject SL.DD_Lookup DDHelp;

@{
@model CTX.GatePasses;
string lsHeadBG = Model.IsPassOfInterest ? "bg-cstm-sec" : "bg-light";
string lsSubmitRoute = Model.GatePassId == 0 ? "Put" : "Update";
if (Model.SupplyDelivery == null)
{
	Model.SupplyDelivery = 0;
}
}
<!-- Addl Class for selected Pass: bg-cstm-sec -->
<!-- Addl Class for Leaf Pass:
	Col: pl-5  
-->
@functions{
	string ActiveClass(bool FlagVal){
		return FlagVal ? "" : SC.TAGS.OPTION_DISABLED;
	}
	string PutText(string StringToPut){
		return StringToPut;
	}
}


<div class="card shadow-heavy m-2 mt-4">
	<form id="frmVisitor"
	method="post"
	asp-controller="GatePass"
	asp-action="@lsSubmitRoute"
	class="">
	<input type="hidden" id="GatePassId" name="GatePassId" value="@Model.GatePassId">


	@if (@Model.GatePassId > 0)
	{
	<div class="card-header text-center px-0 h3 display-4 m-0 @lsHeadBG">
		@DDHelp.FormattedPassNumber(Model.PassType, Model.PassNum)
		<div class="px-0 h3 h2 m-0 @lsHeadBG">
			@Model.AddOn.ToLocalTime().ToString(SC.FORMATS.DATE_TIME_FORMAT)
		</div>
	</div>
	} 
	else 
	{
	<div class="card-header text-center px-0 h3 display-4 m-0 @lsHeadBG">
		New Visitor Gate Pass
	</div>
	}


	<div class="card-body text-center">

		@if (@Model.GatePassId > 0)
		{
		<div class="h3">@Model.DepartmentName</div>

		<div class="row">
			<div class="col-6 text-right font-weight-light align-self-center">
				Current Status</div>
			<div class="col-6 text-left"><input class="form-control-plaintext font-weight-bolder"
					   type="text"
					   readonly
					   id="StatusName"
					   name="StatusName"
					   maxlength="24"
					   placeholder="Current Status"
					   value="@Model.StatusName">
			</div>
		</div>
		}

		<div class="row justify-content-end">
			<div class="col-6 text-right font-weight-light align-self-center">Mobile Num</div>
			<div class="col-6 text-left"><input class="form-control text-uppercase"
					type="number"
					id="MobileNum"
					name="MobileNum"
					maxlength="24"
					placeholder="--NA--"
					data-val="true"
					data-rule-required="true"
					data-msg-required="Mobile number is mandatory."
					data-rule-minlength="10"
					data-msg-minlength="Invalid number."
					value="@Model.MobileNum">
			</div>
			<div class="col-6 field-validation-valid text-danger cstm-text-error text-left"
				data-valmsg-for="MobileNum"
				data-valmsg-replace="true">
			</div>
		</div>


		<div class="row justify-content-end">
			<div class="col-6 text-right font-weight-light align-self-center">Party Count</div>
			<div class="col-6 text-left"><input class="form-control-plaintext text-uppercase"
					   type="number"
					   id="PartyCount"
					   name="PartyCount"
					   min="@Model.PartyCount"
					   placeholder="Party Count"
					   data-val="true"
					   data-rule-digits="true"
					   data-rule-digits="Invalid number."
					   value="@Model.PartyCount">
			</div>
			<div class="col-6 field-validation-valid text-danger"
				 data-valmsg-for="PartyCount"
				 data-valmsg-replace="true">
			</div>
		</div>

		<div class="row justify-content-end">
			<div class="col-6 text-right font-weight-light align-self-center">Visit Type</div>
			<div class="col-6 text-left">
				<!-- Hardcoded pass types -->
				<select class="custom-select cstm-select-bound valid cstm-custom-department-driver"
						id="PassType"
						name="PassType"
						onchange="updateDepartmentList()"
						min="200"
						data-val="true"
						data-rule-min="200"
						data-msg-min="Select a valid Visit Type."
						data-value-current="@Model.PassType"
						aria-invalid="false">
					<option value="0">Select One...</option>
					<option value="210">Vendor</option>
					<option value="220">Staff Visitor</option>
					<option value="230">Patient Visitor</option>
					<option value="240">Blood Donor</option>
					<option value="290">Other</option>
				</select>
										
			</div>
			<div class="col-6 field-validation-valid text-danger cstm-text-error text-left"
				 data-valmsg-for="PassType"
				 data-valmsg-replace="true">
			</div>
		</div>

		<div class="row justify-content-end">
			<div class="col-6 text-right font-weight-light align-self-center">Department</div>
			<div class="col-6 text-left">
				<select class="custom-select cstm-select-bound cstm-custom-departments"
						id="Department"
						name="Department"
						data-val="true"
						data-rule-min="1"
						data-msg-min="Select a valid Department."
						data-value-current="@Model.Department">
				</select>
			</div>
			<div class="col-6 field-validation-valid text-danger cstm-text-error text-left"
				 data-valmsg-for="Department"
				 data-valmsg-replace="true">
			</div>
		</div>

		<div class="row justify-content-end">
			<div class="col-6 text-right font-weight-light align-self-center">Person Meeting</div>
			<div class="col-6 text-left"><input class="form-control"
					   type="text"
					   id="PersonMeeting"
					   name="PersonMeeting"
					   maxlength="60"
					   placeholder="--NA--"
					   data-val="true"
					   data-rule-required="true"
					   data-msg-required="Name is mandatory."
					   value="@Model.PersonMeeting">
			</div>
			<div class="col-6 field-validation-valid text-danger cstm-text-error text-left"
				 data-valmsg-for="PersonMeeting"
				 data-valmsg-replace="true">
					</div>
		</div>

		<div class="row">
			<div class="col-6 text-right font-weight-light align-self-center">Has Supplies</div>
			<div class="col-6 text-left">
				<!-- Hardcoded pass types -->
				<select class="custom-select cstm-select-bound valid"
						id="SupplyDelivery"
						name="SupplyDelivery"
						data-value-current="@Model.SupplyDelivery"
						aria-invalid="false">
					@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.YES_NO, true))
					{
						<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
					}
				</select>
										
			</div>
		</div>

		<div class="row">
			<div class="col-6 text-right font-weight-light align-self-center">Vehicle Type</div>
			<div class="col-6 text-left">
				@if (@Model.VehiclePassNumber > 0)
				{
					<input class="form-control-plaintext text-uppercase"
						type="text"
						value="@DDHelp.DisplayText((int)SE.DDCategories.VEHICLE_TYPE, Model.VehicleType, true)">
				} else {
					<select class="custom-select cstm-select-bound"
							id="VehicleType"
							name="VehicleType"
							data-value-current="@Model.VehicleType">
						@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.VEHICLE_TYPE, true))
						{
							<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
						}
					</select>
				}
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				@if (@Model.VehiclePassNumber > 0)
				{
				<input
					   class="form-control-plaintext form-control-lg text-uppercase text-center font-weight-bolder h1"
					   type="text"
					   value="@Model.VehiclePlateNum">
				} else {
				<input
					   class="form-control form-control-lg text-uppercase text-center font-weight-bolder h1"
					   type="text"
					   id="VehiclePlateNum"
					   name="VehiclePlateNum"
					   maxlength="24"
					   placeholder="Vehicle Plate Number"
					   value="@Model.VehiclePlateNum">
				}
				</div>
			<div class="col-12 field-validation-valid text-danger cstm-text-error text-left"
				 data-valmsg-for="VehiclePlateNum"
				 data-valmsg-replace="true">
			</div>
		</div>

		<div class="form-group">
			<label for="Note">Purpose of Visit:</label>
			<textarea class="form-control"
						id="Note"
						name="Note"
						maxlength="255"
						placeholder="Purpose of Visit, brief."
						rows="2">@Model.Note</textarea>
			<span class="field-validation-valid text-danger cstm-text-error text-left"
				  data-valmsg-for="Note"
				  data-valmsg-replace="true"></span>
		</div>


		@if (@Model.GatePassId > 0)
		{
		<div class="row">
			<div class="col-12 text-center font-weight-light align-self-center text-cstm-alt-1-dark">
				Issue Date Time</div>
			<div class="col-12 text-center"><input class="form-control-plaintext text-cstm-alt-1-dark h2 text-center"
					   type="text"
					   id="AddOn"
					   name="AddOn"
					   maxlength="24"
					   placeholder="Issue Date Time"
					   value="@Model.AddOn.ToLocalTime().ToString(SC.FORMATS.DATE_TIME_FORMAT)">
			</div>
		</div>
		}

	</div> <!-- Card Body -->


	<div class="card-footer bg-cstm-alt">

		<div class="row mt-1 justify-content-end">
			<div class="col-4">
				<input type="submit"
						class="btn btn-cstm-sec-light shadow-light w-100"
						value="Save"
						id="doAmend"
						name="doAmend">
			</div>
			@if (@Model.GatePassId > 0)
			{
			<div class="col-4">
				<div class="btn btn-cstm-sec-light shadow-light w-100">Print</div>
			</div>
			<div class="col-4">
				<div class="btn-group dropup w-100"
					 role="group">
					<button id="btnStatusAction"
							type="button"
							class="btn btn-cstm-alt-1-light shadow-light w-100 dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
						Status
					</button>
					<div class="dropdown-menu w-75"
						 aria-labelledby="btnStatusAction">
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="6">Cancel Pass</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="1">Step In</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="2">Step Out</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="3">Check Out</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="5">Lost & Exit</a>
					</div>
				</div>
			</div>
			}
		</div>

	</div>	<!-- Card Footer -->

</form>

</div> <!-- Card -->
