@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;
@using System.Linq;

@inject SL.DD_Lookup DDHelp;

@{
@model CTX.GatePasses;
string lsHeadBG = Model.IsPassOfInterest ? "bg-cstm-sec" : "bg-light";
string lsSubmitRoute = Model.GatePassId == 0 ? "Put" : "Update";
bool IsNew = (Model.GatePassId == 0);
}
<!-- Addl Class for selected Pass: bg-cstm-sec -->
<!-- Addl Class for Leaf Pass:
	Col: pl-5  
-->
@functions{
	string ActiveClass(bool FlagVal){
		return FlagVal ? "" : SC.TAGS.OPTION_DISABLED;
	}
}




<div class="card shadow-heavy p-0 my-2">
	<form id="frmVehicle"
	method="post"
	asp-controller="GatePass"
	asp-action="@lsSubmitRoute"
	autocomplete="off"
	class="">
	<input type="hidden" id="GatePassId" name="GatePassId" value="@Model.GatePassId">
	<input type="hidden" id="PassType" name="PassType" value="@Model.PassType">
	<input type="hidden" id="RootGatePass" name="RootGatePass" value="@Model.RootGatePass">
	<input type="hidden" id="Department" name="Department" value="@Model.Department">
	<input type="hidden" id="Department" name="Department" value="@Model.Department">


	<div class="card-header text-center px-0 h3 display-4 m-0 @lsHeadBG">
		@DDHelp.FormattedPassNumber(Model.PassType, Model.PassNum)
		<div class="px-0 h3 h2 m-0 @lsHeadBG">
			@Model.AddOn.ToLocalTime().ToString(SC.FORMATS.DATE_TIME_FORMAT)
		</div>
	</div>

	<div class="card-body text-center">
		<div class="h3">@Model.DepartmentName</div>

		<div class="row">
			<div class="col-6 text-right font-weight-light align-self-center h3">Root Pass</div>
			<div class="col-6 text-left h3"><input class="form-control-plaintext text-uppercase h3 font-weight-bolder"
					   type="text"
					   value="@ViewBag.RootPassNum">
			</div>
		</div>

		<div class="row">
			<div class="col-6 text-right font-weight-light align-self-center">
				Current Status</div>
			<div class="col-6 text-left"><input class="form-control-plaintext font-weight-bolder"
					   type="text"
					   id="StatusName"
					   name="StatusName"
					   maxlength="24"
					   placeholder="Current Status"
					   value="@Model.StatusName">
			</div>
		</div>

		<div class="row">
			<div class="col-6 text-right font-weight-light align-self-center">Vehicle Type</div>
			<div class="col-6 text-left">
				<select class="custom-select cstm-select-bound"
						id="VehicleType"
						name="VehicleType"
						data-value-current="@Model.VehicleType">
					@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.VEHICLE_TYPE, true))
					{
						<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
					}
				</select>
			</div>
			<!-- @DDHelp.DisplayText((int)SE.DDCategories.VEHICLE_TYPE, Model.VehicleType); -->


		</div>

		<div class="row">
			<div class="col-12"><input
					   class="form-control form-control-lg text-uppercase text-center font-weight-bolder h1"
					   type="text"
					   id="VehiclePlateNum"
					   name="VehiclePlateNum"
					   maxlength="24"
					   placeholder="Vehicle Plate Number"
					   value="@Model.VehiclePlateNum"></div>
			<div class="col-12"><span class="field-validation-valid text-danger cstm-text-error"
					  data-valmsg-for="VehiclePlateNum"
					  data-valmsg-replace="true"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-12 text-center font-weight-light align-self-center text-cstm-alt-1-dark">
				Issue Date Time</div>
			<div class="col-12 text-center"><input class="form-control-plaintext text-cstm-alt-1-dark h2 text-center"
					   type="text"
					   id="AddOn"
					   name="AddOn"
					   maxlength="24"
					   placeholder="Issue Date Time"
					   value="@Model.AddOn.ToLocalTime().ToString(SC.FORMATS.DATE_TIME_FORMAT)">
			</div>
		</div>


	</div> <!-- Card Body -->


	<div class="card-footer bg-cstm-alt">

		<div class="row mt-1">
			<div class="col-4">
				<input type="submit"
						class="btn btn-cstm-sec-light shadow-light w-100"
						value="Save"
						id="doAmend"
						name="doAmend">
			</div>
			<div class="col-4">
				<div class="btn btn-cstm-sec-light shadow-light w-100">Print</div>
			</div>

			@if (! @IsNew)
			{
			<div class="col-4">
				<div class="btn-group dropup w-100"
					 role="group">
					<button id="btnStatusAction"
							type="button"
							class="btn btn-cstm-alt-1-light shadow-light w-100 dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
						Status
					</button>
					<div class="dropdown-menu w-75"
						 aria-labelledby="btnStatusAction">
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="6">Cancel Pass</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="1">Step In</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="2">Step Out</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="3">Check Out</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="5">Lost & Exit</a>
					</div>
				</div>
			</div>
			}

		</div>

	</form>
	</div>	<!-- Card Footer -->

</div> <!-- Card -->
