<!-- To be implementes
1. Pass as arg, gatepass id

 -->

<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
	asp-controller="Gatepass"
	asp-route="PassStatus"
	asp-route-linkid="@Model.GatePassId"
	asp-route-status="6"
	>Cancel Pass</a>
<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
	asp-controller="Gatepass"
	asp-route="PassStatus"
	asp-route-linkid="@Model.GatePassId"
	asp-route-status="1"
	href="#">Step In</a>
<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
	asp-controller="Gatepass"
	asp-route="PassStatus"
	asp-route-linkid="@Model.GatePassId"
	asp-route-status="2"
	href="#">Step Out</a>
<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
	asp-controller="Gatepass"
	asp-route="PassStatus"
	asp-route-linkid="@Model.GatePassId"
	asp-route-status="3"
	href="#">Check Out</a>
<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
	asp-controller="Gatepass"
	asp-route="PassStatus"
	asp-route-linkid="@Model.GatePassId"
	asp-route-status="3"
	href="3">Lost & Exit</a>
