@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;
@using System.Linq;

@inject SL.DD_Lookup DDHelp;

@{
@model CTX.GatePasses;
string lsHeadBG = Model.IsPassOfInterest ? "bg-cstm-sec" : "bg-light";
}
<!-- Addl Class for selected Pass: bg-cstm-sec -->
<!-- Addl Class for Leaf Pass:
	Col: pl-5  
-->


<div class="card shadow-heavy p-0 my-2">
	<div class="card-header text-center px-0 h3 display-4 m-0 @lsHeadBG">
		@DDHelp.FormattedPassNumber(Model.PassType, Model.PassNum)
		<div class="px-0 h3 h2 m-0 @lsHeadBG">
			@Model.AddOn.ToLocalTime().ToString(SC.FORMATS.DATE_TIME_FORMAT)
		</div>
	</div>

	<div class="card-body text-center">
		<div class="h3">@Model.DepartmentName</div>

		<div class="row">
			<div class="col-6 text-right font-weight-light align-self-center h3">Root Pass</div>
			<div class="col-6 text-left h2"><input class="form-control-plaintext text-uppercase h3 font-weight-bolder"
					   type="text"
					   readonly
					   value="@ViewBag.RootPassNum">
			</div>
		</div>

		<div class="row">
			<div class="col-6 text-right font-weight-light align-self-center">Current Status</div>
			<div class="col-6 text-left"><input class="form-control-plaintext font-weight-bolder"
					   type="text"
					   readonly
					   id="StatusName"
					   name="StatusName"
					   maxlength="24"
					   placeholder="Current Status"
					   value="@Model.StatusName">
			</div>
		</div>

		<div class="row">
			<div class="col-12 text-center font-weight-light align-self-center">Party @ViewBag.PartyIdx of
				@ViewBag.PartyCount</div>
		</div>

		<div class="row">
			<div class="col-12 text-center font-weight-light align-self-center text-cstm-alt-1-dark">
				Issue Date Time</div>
			<div class="col-12 text-center"><input class="form-control-plaintext text-cstm-alt-1-dark h2 text-center"
					   type="text"
					   readonly
					   id="AddOn"
					   name="AddOn"
					   maxlength="24"
					   placeholder="Issue Date Time"
					   value="@Model.AddOn.ToLocalTime().ToString(SC.FORMATS.DATE_TIME_FORMAT)">
			</div>
		</div>


	</div> <!-- Card Body -->


	<div class="card-footer bg-cstm-alt">

		<div class="row mt-1 justify-content-end">
			<!-- <div class="col-4">
				<div class="btn btn-cstm-sec-light shadow-light w-100">Save</div>
			</div> -->
			<div class="col-4">
				<div class="btn btn-cstm-sec-light shadow-light w-100">Print</div>
			</div>
			<div class="col-4">
				<div class="btn-group dropup w-100"
					 role="group">
					<button id="btnStatusAction"
							type="button"
							class="btn btn-cstm-alt-1-light shadow-light w-100 dropdown-toggle"
							data-toggle="dropdown"
							aria-haspopup="true"
							aria-expanded="false">
						Status
					</button>
					<div class="dropdown-menu w-75"
						 aria-labelledby="btnStatusAction">
						<!-- <a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   href="#">Save Changes</a> -->
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="6">Cancel Pass</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="1">Step In</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="2">Step Out</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="3">Check Out</a>
						<a class="dropdown-item bg-cstm-sec-light border-cstm-dark"
						   asp-controller="Gatepass"
						   asp-action="PassStatus"
						   asp-route-linkid="@Model.GatePassId"
						   asp-route-status="5">Lost & Exit</a>
					</div>
				</div>

			</div>
		</div>

		<!-- <div class="row small">&nbsp;&nbsp;</div> -->


		<!-- <div class="row mt-2 text-center">
			<div class="col-4">
				<a href="#"
				   class="card-link"><b>+</b>Attendant</a>
			</div>
			<div class="col-4">
				<a href="#"
				   class="card-link border-cstm-dark"><b>+</b>Wheelchair</a>
			</div>
			<div class="col-4">
				<a href="#"
				   class="card-link"><b>+</b>Vehicle</a>
			</div>
		</div> -->


	</div>	<!-- Card Footer -->

</div> <!-- Card -->
