@using ML = gpm_web.Models;
@using SL = gpm_web.Lookups;

@inject SL.DD_Lookup DDHelp;

@{
ViewData["Title"] = "Pass Dept Select";
Layout = "_Layout_Gpm_User";

// TODO: Map to enums.
int VisitTypeFirst = 1;
int VisitTypeRevisit = 2;

}
@model List<ML.DeptCapValues>;

	<div class="container-fluid text-center">
		<div class="h2 display-4 mt-3 text-cstm-pri-dark shadow-text-outline">New Patient Gate Pass</div>
		<div class="h3 mb-3 text-cstm-sec-dark shadow-text-outline">Select a Department and Visit Type</div>
	</div>

	<p>
		@* this should be a comment not visible on the browser *@
	</p>

	<div class="row">

		@foreach (ML.DeptCapValues vDept in Model)
		{
		if (vDept.CapFirst == 0 && vDept.CapRevisit == 0 ) { continue; }
		<div class="col-12 col-md-6 col-lg-4 col-xl-3">
			<div class="card shadow-heavy m-2 mt-4">
				<div class="h3 display-4 card-header text-center bg-light p-0">@vDept.DeptName (u @(vDept.UsedFirst + vDept.UsedRevisit))</div>
				<div class="card-body p-2">
					<div class="d-flex h4 text-cstm-dark m-0 mb-1">
						<div class="flex-fill text-center">First Visit</div>
						<div class="flex-fill text-center">Re-Visit</div>
					</div>
					<div class="d-flex">
						<a asp-controller="GatePass"
						   asp-action="NewPassPatient"
						   asp-route-deptid="@vDept.DeptCode"
						   asp-route-vtype="@VisitTypeFirst"
						   class="btn btn-lg btn-cstm-sec-light flex-fill shadow-light h2 mr-2">@(vDept.CapFirst -
							vDept.UsedFirst)</a>
						<a asp-controller="GatePass"
						   asp-action="NewPassPatient"
						   asp-route-deptid="@vDept.DeptCode"
						   asp-route-vtype="@VisitTypeRevisit"
						   class="btn btn-lg btn-cstm-alt-2-light flex-fill shadow-light h2 ml-2">@(vDept.CapRevisit -
							vDept.UsedRevisit)</a>
					</div>
				</div>
			</div> <!-- Card -->
		</div> <!-- Column -->
		}

	</div>
	<hr>


	<!-- ========================================================================================================== -->
