@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;
@using System.Linq;

@inject SL.DD_Lookup DDHelp;
@inject ILogger<gpm_web.Controllers.GatePassController> log;

@model CTX.GatePasses;

@{
	ViewData["Title"] = "Gate Pass Details";
	Layout = "_Layout_Gpm_User";
	string lsTagInterest = Model.IsPassOfInterest ? "pl-5" : "";
	ViewBag.RootPassNum = DDHelp.FormattedPassNumber(Model.PassType, Model.PassNum);
}
<!-- Addl Class for Leaf Pass:
	Col: pl-5  
-->

<div class="container-fluid my-3">
	<span class="text-danger">@Html.ValidationSummary(false)</span>

	<div class="row p-3 justify-content-end">
		<!-- Render Root Gate pass -->
		<div class="col-12 col-md-6 col-lg-6 col-xl-4">
		@switch ((SE.GATE_PASS_TYPE)Model.PassType)
		{
				case SE.GATE_PASS_TYPE.PATIENT_NEW:
				case SE.GATE_PASS_TYPE.PATIENT_REVISIT:
					@await Html.PartialAsync("_PassPatient", Model)
					break;
				case SE.GATE_PASS_TYPE.VENDOR:
				case SE.GATE_PASS_TYPE.VISITOR_STAFF:
				case SE.GATE_PASS_TYPE.VISITOR_PATIENT:
				case SE.GATE_PASS_TYPE.BLOOD_DONOR:
				case SE.GATE_PASS_TYPE.VISITOR_OTHER:
					@await Html.PartialAsync("_PassVisitor", Model)
					break;
				case SE.GATE_PASS_TYPE.EMERGENCY:
					@await Html.PartialAsync("_PassEmergency", Model)
					break;
				case SE.GATE_PASS_TYPE.PARTY:
				case SE.GATE_PASS_TYPE.VEHICLE:
					log.LogInformation("NON ROOT TYPES CANNOT BE DISPLAYED AS ROOT");
					break;

				default:
					log.LogError("Unknown pass type {0}. Analyse request source.", Model.PassType);
					break;
			}

		</div> <!-- Column -->

		@{
			// Show child passes if any

			// Show Vehicle pass
			var pVehicleList = Model.InverseRootGatePassNavigation
									.Where(v => v.PassType == (int)SE.GATE_PASS_TYPE.VEHICLE)
									.OrderBy(o => o.GatePassId)
									.ToList();
			foreach (CTX.GatePasses vVehicle in pVehicleList)
			{
				<div class="col-12 col-md-6 col-lg-6 col-xl-4 pl-5">
					@await Html.PartialAsync("_PassVehicle", vVehicle)
				</div> <!-- Column -->
			}

			// Show Attendant/Party pass
			List<CTX.GatePasses> pPartyList = Model.InverseRootGatePassNavigation
													.Where(v => v.PassType == (int)SE.GATE_PASS_TYPE.PARTY)
													.OrderBy(o => o.GatePassId)
													.ToList();
			ViewBag.PartyCount = pPartyList.Count;
			int liCounter = 1;
			foreach (CTX.GatePasses vParty in pPartyList)
			{
				ViewBag.PartyIdx = liCounter++;
				<div class="col-12 col-md-6 col-lg-6 col-xl-4 pl-5">
					@await Html.PartialAsync("_PassParty", vParty)
				</div> <!-- Column -->
			}
		}

	</div>

</div>
