@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;
@using System.Linq;

@inject SL.DD_Lookup DDHelp;
@inject ILogger<gpm_web.Controllers.GatePassController> log;

@model CTX.GatePasses;

@{
	ViewData["Title"] = "Gate Pass Details";
	Layout = "_Layout_Gpm_User";

	bool mFailed = (Model == null && ViewBag.SearchFilter != -1);
	SE.GATE_PASS_TYPE mPassType = SE.GATE_PASS_TYPE.NOT_SET;
	if (Model != null){
		mPassType = (SE.GATE_PASS_TYPE)Model.PassType;
	}
}

<div class="container-fluid my-3">
	<span class="text-danger">@Html.ValidationSummary(false)</span>


	<!-- Form to input gatepass ID -->
	<!-- ========================================================================================================== -->
	<div class="row px-3 py-0 justify-content-end bg-cstm-alt-1-light p-2">
		<div class="col-12 col-md-6 col-lg-6 col-xl-4">
	
			<form id="frmToken"
					name="frmToken"
					class="form-inline justify-content-end p-2">
	
				<label for="PassNum"
						class="sr-only">Pass Number: &nbsp; </label>
				<input class="form-control border-cstm-alt-1"
						type="number"
						id="id"
						name="id"
						size="3"
						min="1"
						value=""
						step="1"
						placeholder="Gate Pass Number"
						>
				<input type="submit"
						class="btn btn-cstm-pri-light border-cstm-dark text-cstm-alt-1-dark"
						value="Find"
						id="getByToken"
						name="getByToken">
				<span class="field-validation-valid text-danger cstm-text-error"
						data-valmsg-for="PassNum"
						data-valmsg-replace="true"></span>
	
				<a class="pl-3"
				   asp-controller="GatePass"
				   asp-action="Find"
				   asp-route-linkid="0">Advanced Options</a>
				
				@if (Model != null){
				<a class="pl-3"
				   asp-controller="GatePass"
				   asp-action="Edit"
				   asp-route-id="@Model.GatePassId">Related Passes</a>
				}

			</form>

			@if (mFailed){
				<div class="display-4 text-danger text-right py-2">Pass @ViewBag.SearchFilter Not found.</div>
			}

		</div>
	</div>
	<!-- ========================================================================================================== -->

	<div class="row p-3 justify-content-end">
		<!-- Render Root Gate pass -->
		<div class="col-12 col-md-6 col-lg-6 col-xl-4">
		@switch (mPassType)
		{
				case SE.GATE_PASS_TYPE.PATIENT_NEW:
				case SE.GATE_PASS_TYPE.PATIENT_REVISIT:
					@await Html.PartialAsync("_PassPatient", Model)
					break;
				case SE.GATE_PASS_TYPE.VENDOR:
				case SE.GATE_PASS_TYPE.VISITOR_STAFF:
				case SE.GATE_PASS_TYPE.VISITOR_PATIENT:
				case SE.GATE_PASS_TYPE.BLOOD_DONOR:
				case SE.GATE_PASS_TYPE.VISITOR_OTHER:
					@await Html.PartialAsync("_PassVisitor", Model)
					break;
				case SE.GATE_PASS_TYPE.EMERGENCY:
					@await Html.PartialAsync("_PassEmergency", Model)
					break;
				case SE.GATE_PASS_TYPE.PARTY:
					@await Html.PartialAsync("_PassParty", Model)
					break;
				case SE.GATE_PASS_TYPE.VEHICLE:
					@await Html.PartialAsync("_PassVehicle", Model)
					break;

				default:
					log.LogError("Unknown pass type {0}. Analyse request source.", mPassType);
					break;
			}
		</div> <!-- Column -->

	</div>

</div>
