@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;

@inject SL.DD_Lookup DDHelp;
@inject ILogger<gpm_web.Controllers.GatePassController> log;

@{
	ViewData["Title"] = "Search Gatepass";
	Layout = "_Layout_Gpm_User";
	@model List<CTX.GatePasses>;
	List<ML.DD_Item> lstDepts = DDHelp.GetItems(SE.DDCategories.DEPTS_ALL, true); //.OrderBy(y => y.DisplaySeq).ToList();

	string lsDateFmt = SC.FORMATS.DATE_SHORT_FORMAT;
	CTX.GatePasses lmSearch = ViewBag.SearchFilter ?? new CTX.GatePasses (){ IssueDate = DateTime.Today };
	string lsDateEdit = lmSearch.IssueDate.ToString("yyyy-MM-dd");
	log.LogDebug("Inspect values");
}
@functions{
	string ActiveClass(bool FlagVal){
		return FlagVal ? "" : SC.TAGS.OPTION_DISABLED;
	}
	string PutText(string StringToPut){
		return StringToPut;
	}
}



<div class="container-fluid my-3">

	<!-- justify-content-end -->
	<div class="row">

		<!-- Filter panel -->
		<div class="col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3 border-right border-cstm-pri pr-2	">

			<div class="h1 display-4 text-cstm-pri-dark shadow-text-outline">Search Passes:
			</div>

			<!-- ========================================================================================================== -->
			<form method="POST"
					id="frmActive"
					name="frmActive"
					class="mx-1 my-4 p-0">
				<div class="row">

					<div class="col-12">
						<input type="hidden"
								id="SearchType"
								name="SearchType"
								value="2">
						<input type="submit"
								class="btn btn-outline-cstm-pri-light border-cstm-dark text-cstm-alt-1-dark shadow-light w-100"
								value="Find all Active Passes"
								id="getAll"
								name="getAll">
					</div>

				</div>
			</form>


			<!-- ========================================================================================================== -->
			<form id="frmToken"
					name="frmToken"
					class="shadow-outline mx-1 my-4 p-2">
				<div class="row">

					<div class="col-12">
						<div class="col-form-label-lg text-cstm-dark">By Pass Number and Date:</div>
						<input type="hidden"
								id="SearchType"
								name="SearchType"
								value="1">
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="PassNum">Pass Number:</label>
							<input class="form-control border-cstm-alt-1"
									type="number"
									id="PassNum"
									name="PassNum"
									min="1"
									value=""
									step="1">
						</div>
					</div>
					<div class="col-6">
						<div class="form-group">
							<label for="IssueDate">Issue Date:</label>
							<input type="date"
									class="form-control border-cstm-alt-1"
									id="IssueDate"
									name="IssueDate"
									value="@lsDateEdit">
						</div>
					</div>
					<div class="col-12">
						<input type="submit"
								class="btn btn-outline-cstm-pri-light border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100"
								value="Find"
								id="getByToken"
								name="getByToken">
					</div>
					<div class="col-12">
						<span class="field-validation-valid text-danger cstm-text-error"
								data-valmsg-for="PassNum"
								data-valmsg-replace="true"></span>
					</div>

				</div>
			</form>



			<!-- ========================================================================================================== -->
			<form id="frmFilter"
					name="frmFilter"
					class="shadow-outline mx-1 my-4 p-2">

				<div class="row">
					<div class="col-12">
						<div class="col-form-label-lg text-cstm-dark">By Custom Filter:</div>
						<input type="hidden"
								id="SearchType"
								name="SearchType"
								value="3">
					</div>
				</div>

				<div class="row my-2">
					<div class="col-5 text-right">
						<label for="IssueDate"
								class="col-form-label">Date:
						</label>
					</div>
					<div class="col-7">
						<input type="date"
								class="form-control border-cstm-alt-1"
								id="IssueDate"
								name="IssueDate"
								value="@lsDateEdit">
					</div>
				</div>


				<div class="row my-2">
					<div class="col-5 text-right">
						<label for="Department"
								class="col-form-label">Department:
						</label>
					</div>
					<div class="col-7">
						<select class="custom-select cstm-select-bound"
								id="Department"
								name="Department"
								data-value-current="@int.MaxValue">
							<option value="@int.MaxValue">All Departments</option>
							@foreach (ML.DD_Item vOpt in lstDepts)
							{
								<option value="@vOpt.Value">@vOpt.Text</option>
							}
						</select>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-5 text-right">
						<label for="Status"
								class="col-form-label">Status:
						</label>
					</div>
					<div class="col-7">
						<select class="custom-select cstm-select-bound"
								id="Status"
								name="Status"
								data-value-current="@int.MaxValue">
							<option value="@int.MaxValue">All Status</option>
							@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.GATE_PASS_STATUS, false))
							{
								<option value="@vOpt.Value">@vOpt.Text</option>
							}
						</select>
					</div>
				</div>


				<div class="row my-2">
					<div class="col-5 text-right">
						<label for="PassType"
								class="col-form-label">Pass Type:
						</label>
					</div>
					<div class="col-7">
						<select class="custom-select cstm-select-bound"
								id="PassType"
								name="PassType"
								data-value-current="@int.MaxValue">
							<option value="@int.MaxValue">All Types</option>
							@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.GATE_PASS_TYPE, false))
							{
								<option value="@vOpt.Value">@vOpt.Text</option>
							}
						</select>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-5 text-right">
						<label for="PartyCount"
								class="col-form-label">Has Attendants:
						</label>
					</div>
					<div class="col-7">
						<select class="custom-select cstm-select-bound"
								id="PartyCount"
								name="PartyCount"
								data-value-current="@int.MaxValue">
							<option value="@int.MaxValue">Both</option>
							<option value="1"> With Attendants only </option>
							<option value="2"> Without Attendants only </option>
						</select>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-5 text-right">
						<label for="VehicleType"
								class="col-form-label">Has Vehicle:
						</label>
					</div>
					<div class="col-7">
						<select class="custom-select cstm-select-bound"
								id="VehicleType"
								name="VehicleType"
								data-value-current="@int.MaxValue">
							<option value="@int.MaxValue">All</option>
							<option value="@int.MaxValue - 1000"> With any Vehicle</option>
							@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.VEHICLE_TYPE, false))
							{
								<option value="@vOpt.Value">@vOpt.Text</option>
							}
						</select>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-5 text-right">
						<label for="HasResources"
								class="col-form-label">Has Wheel chair:
						</label>
					</div>
					<div class="col-7">
						<select class="custom-select cstm-select-bound"
								id="HasResources"
								name="HasResources"
								data-value-current="@int.MaxValue">
							<option value="@int.MaxValue">All</option>
							@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.YES_NO, true))
							{
								<option value="@vOpt.Value">@vOpt.Text</option>
							}
						</select>
					</div>
				</div>

				<div class="row my-2">
					<div class="col-12">
						<input type="submit"
								class="btn btn-outline-cstm-pri-light border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100"
								value="Find"
								id="getByFilter"
								name="getByFilter">
					</div>
				</div>

			</form>



		</div> <!-- Column -->

		<!-- Results columns -->
		<div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xl-9">
			<div class="text-monospace text-cstm-dark h3">Got @Model.Count records.</div>
			<table class="table table-striped table-hover p-0 m-0">
				<thead class="thead-dark">
					<tr>
						<th>Date</th>
						<th>Number</th>
						<th>Root Pass</th>
						<th>Dept.</th>
						<th>Type</th>
						<th>Party</th>
						<th>Veh?</th>
						<th>W?</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				@foreach (CTX.GatePasses vGP in Model)
				{
					log.LogDebug("PASS = {0}, Root = {1}, Root-Type = {2}, Root-Num = {3}", vGP.PassNum, vGP.RootGatePass, vGP.RootGatePassNavigation?.PassType, vGP.RootGatePassNavigation?.PassNum);
					<tr>
						<td class="my-0 py-1">@vGP.IssueDate.ToString(lsDateFmt)</td>
						<td class="my-0 py-1">
							<a asp-controller="GatePass" asp-action="Edit" asp-route-id="@vGP.GatePassId" class="btn-link">@DDHelp.FormattedPassNumber(vGP.PassType, vGP.PassNum)</a>
							</td>
						<td class="my-0 py-1">@DDHelp.FormattedPassNumber(vGP.RootGatePassNavigation?.PassType ?? 0, vGP.RootGatePassNavigation?.PassNum ?? 0)</td>
						<td class="my-0 py-1">@DDHelp.DisplayText(3, vGP.Department, true) </td>
						<td class="my-0 py-1">@DDHelp.DisplayText(7, vGP.PassType, true) </td>
						<td class="my-0 py-1">@vGP.PartyCount</td>
						<td class="my-0 py-1">@DDHelp.DisplayText(1, vGP.HasVehicle, true) </td>
						<td class="my-0 py-1">@DDHelp.DisplayText(1, vGP.HasResources, true) </td>
						<td class="my-0 py-1">@DDHelp.DisplayText(8, vGP.Status, true) </td>
						<td class="my-0 py-1">
							<a asp-controller="GatePass" asp-action="Edit" asp-route-id="@vGP.GatePassId" class="btn-link">edit</a>
						</td>
					</tr>
				}
				</tbody>
			</table>
		</div>

	</div> <!-- Row -->


</div> <!-- container-fluid -->
