@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;
@using System.Linq;

@inject SL.DD_Lookup DDHelp;
@inject ILogger<gpm_web.Controllers.GatePassController> log;

@model CTX.GatePasses;

@{
	ViewData["Title"] = "New Vehicle Pass";
	Layout = "_Layout_Gpm_User";
	string lsTagInterest = Model.IsPassOfInterest ? "pl-5" : "";
	<!-- ViewBag.RootPassNum = DDHelp.FormattedPassNumber(Model.PassType, Model.RootGatePass?? 0); -->
}

<div class="container-fluid my-3">
	<span class="text-danger">@Html.ValidationSummary(false)</span>

	<div class="row p-3 justify-content-end">
		<!-- Render Gate pass -->
		<div class="col-12 col-md-6 col-lg-6 col-xl-4">
			@await Html.PartialAsync("_PassVehicle", Model)
		</div>
	</div>
</div>
