@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;

@inject SL.DD_Lookup DDHelp;

@{
ViewData["Title"] = "New Patient Pass";
Layout = "_Layout_Gpm_User";
@model CTX.GatePasses;
ViewBag.RootPassNum = DDHelp.FormattedPassNumber(Model.PassType, Model.PassNum);
}

@functions{
	string ActiveClass(bool FlagVal){
		return FlagVal ? "" : SC.TAGS.OPTION_DISABLED;
	}
}

<div class="container-fluid my-3">
	<span class="text-danger">@Html.ValidationSummary(false)</span>
	<div class="row  justify-content-end">

		<div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6 border border-cstm-pri shadow-light">
			<div class="h1 display-4 mt-3 text-cstm-pri-dark shadow-text-outline">New Patient Gate Pass</div>

			<form method="post"
				  asp-controller="GatePass"
				  asp-action="Put"
				  asp-route-id="909"
				  autocomplete="off"
				  class="">
				<!-- Fields to store preselections -->
				<input type="hidden"
					   id="PassType"
					   name="PassType"
					   value="@Model.PassType">
				<input type="hidden"
					   id="Department"
					   name="Department"
					   value="@Model.Department">
				<input type="hidden"
					   id="VisitType"
					   name="VisitType"
					   value="@Model.VisitType">
				<input type="hidden"
					   id="VisitTypeName"
					   name="VisitTypeName"
					   value="@Model.VisitTypeName">
				<input type="hidden"
					   id="DepartmentName"
					   name="DepartmentName"
					   value="@Model.DepartmentName">

				<div class="form-row border border-cstm-pri-light m-1 mb-3 p-1 shadow-light">
					<div class="col-12">
						<div class="small text-secondary mb-2">Pre-Selected Options:</div>
					</div>
					<div class="col">
						<div class="form-control bg-light h4 text-center mb-0">@Model.DepartmentName</div>
						<div class="small text-secondary text-center">Department Selected.</div>
					</div>
					<div class="col">
						<div class="form-control bg-light h4 text-center mb-0">@Model.VisitTypeName</div>
						<div class="small text-secondary text-center">Visit Type Selected.</div>
					</div>
				</div>

				<div class="form-group">
					<label for="MobileNum">Mobile Number:</label>
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text"
								  id="telprefix">+91</span>
						</div>
						<input class="form-control"
							   type="number"
							   id="MobileNum"
							   name="MobileNum"
							   maxlength="16"
							   placeholder="000 000 0000"
							   aria-label="Mobile Number"
							   aria-describedby="Mobile number of the patient"
							   value="@Model.MobileNum">
					</div>
					<span class="field-validation-valid text-danger cstm-text-error"
						  data-valmsg-for="MobileNum"
						  data-valmsg-replace="true"></span>
					<div class="small text-secondary">Mobile Number, Required for all First visit patients.</div>
				</div>


				@if (Model.VisitType == (int)SE.VISIT_TYPE.RE_VISIT)
				{
					@* CR14. Include for all passes. Optional for new visits *@
				}
				<div class="form-group">
					<label for="formGroupExampleInput">Hospital Number:</label>
					<input class="form-control text-uppercase"
						   type="number"
						   id="HospitalNum"
						   name="HospitalNum"
						   maxlength="24"
						   placeholder="Hospital Number"
						   value="@Model.HospitalNum">
					<span class="field-validation-valid text-danger cstm-text-error"
						  data-valmsg-for="HospitalNum"
						  data-valmsg-replace="true"></span>
					<div class="small text-secondary">Hospital Number, Required for all followup visit patients.
					</div>
				</div>

				<!-- <legend>Additional Details:</legend> -->

				<div class="form-row my-4">
					<div class="col-12">
						<label for="PartyCount">Attendant Count:</label>
					</div>
					<div class="col-3">
						<input class="form-control"
							   type="number"
							   id="PartyCount"
							   name="PartyCount"
							   min="0"
							   data-val="true"
							   data-val-min="0"
							   data-rule-number="true"
							   data-msg-number="Only numerics 0-9 allowed"
							   step="1"
							   placeholder="0"
							   value="@Model.PartyCount">
					</div>
					<div class="col-9">
						<div class="text-secondary">People accompanying the patient.
							Includes the driver of the vehicle, if any.</div>
					</div>
					<div class="col-12">
						<span class="field-validation-valid text-danger cstm-text-error"
							  data-valmsg-for="PartyCount"
							  data-valmsg-replace="true"></span>
					</div>
				</div>

				<div class="form-row">
					<div class="col p-3">
						<button type="submit"
								class="btn btn-lg w-100 btn-outline-cstm-sec-dark text-cstm-alt-2-dark shadow-light"
								id="bynSave"
								name="btnSave">Save</button>
					</div>
				</div>

				<div class="form-row mb-3">
					<div
						 class="col-12 h3 text-cstm-pri w-100 p-2 mb-3 border-bottom border-cstm-dark shadow-text-outline">
						Other Options:
					</div>
				</div>


				<div class="form-row mb-3">

					<div class="col-6">
						<div class="form-group">
							<label for="HasResources">Wheelchair?</label>
							<select class="custom-select cstm-select-bound"
									id="HasResources"
									name="HasResources"
									data-val="true"
									data-rule-min="0"
									data-msg-min="Select a valid option."
									data-value-current="@Model.HasResources">
								<!-- <option value="-1">Select One...</option> -->
								@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.YES_NO, true))
								{
									<option value="@vOpt.Value">@vOpt.Text</option>
								}
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="HasResources"
								  data-valmsg-replace="true"></span>
						</div>
					</div>



					<div class="col-6">
						<div class="form-group">
							<label for="WheelchairNum">Wheelchair Number:</label>
							<input class="form-control text-uppercase"
								   type="number"
								   id="WheelchairNum"
								   name="WheelchairNum"
								   maxlength="40"
								   placeholder="Identification Number"
								   value="@Model.WheelchairNum">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="WheelchairNum"
								  data-valmsg-replace="true"></span>
							<!-- <div class="form-text small text-secondary">Keep empty to be assigned an availaible
								wheelchair by the
								system.</div> -->
						</div>
					</div>
				</div>

				<hr />

				<div class="form-row">

					<div class="col-6">
						<div class="form-group">
							<label for="HasVehicle">Vehicle parking?</label>
							<select class="custom-select cstm-select-bound"
									id="HasVehicle"
									name="HasVehicle"
									data-val="true"
									data-rule-min="0"
									data-msg-min="Select a valid option."
									data-value-current="@Model.HasVehicle">
								<!-- <option value="-1">Select One...</option> -->
								@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.YES_NO, true))
								{
									<option value="@vOpt.Value">@vOpt.Text</option>
								}
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="HasVehicle"
								  data-valmsg-replace="true"></span>
						</div>
					</div>

					<div class="col-6">
						<div class="form-group">
							<label for="VehicleType">Vehicle Type:</label>
							<select class="custom-select cstm-select-bound"
									id="VehicleType"
									name="VehicleType"
									data-value-current="@Model.VehicleType">
								@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.VEHICLE_TYPE, true))
								{
									<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
								}
								<!--
								<option value="0">Select One...</option>
								<option value="1">Bike</option>
								<option value="2">Scooter</option>
								<option value="3">Car</option>
								<option value="4">Ambulance</option>
								<option value="99">Other</option>
								 -->
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="VehicleType"
								  data-valmsg-replace="true"></span>
						</div>
					</div>

					<div class="col-12">
						<div class="form-group">
							<label for="formGroupExampleInput"> Vehicle Number:</label>
							<input class="form-control text-uppercase"
								   type="text"
								   id="VehiclePlateNum"
								   name="VehiclePlateNum"
								   maxlength="24"
								   placeholder="Registration Number of the vehicle"
								   value="@Model.VehiclePlateNum">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="VehiclePlateNum"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
				</div>

				<hr />

				<div class="form-row">
					<div class="col">
						<textarea class="form-control"
								  id="Note"
								  name="Note"
								  maxlength="255"
								  placeholder="Generic note for additional information."
								  rows="2">@Model.Note</textarea>
					</div>
				</div>

				<hr />

				<div class="form-row">
					<div class="col p-3">
						<button type="submit"
								class="btn btn-lg w-100 btn-outline-cstm-sec-dark text-cstm-alt-2-dark shadow-light"
								id="bynSave"
								name="btnSave">Save</button>
					</div>

					<!-- <div class="col p-3">
						<button type="submit"
								class="btn btn-lg w-100 btn-cstm-pri border-cstm-dark text-cstm-alt-2-dark shadow-light"
								id="btnPrint"
								name="">Save &
							Print</button>
					</div> -->
				</div>

			</form>


		</div> <!-- Column -->


	</div> <!-- Row -->

</div>


@section pageScript{
<script>
	// Reload validation
	function reloadValidation()
	{
		$("form").removeData("validator").removeData("unobtrusiveValidation");
		$.validator.unobtrusive.parse("form");
	}
	// wheelchair
	function WheelchairOnChange(e)
	{
		if (e.currentTarget.value == 1) {
			$("#WheelchairNum")
				.attr("data-val", "true")
				.attr("data-val-required", "Wheel chair number is required.");
		} else {
			$("#WheelchairNum")
				.removeAttr("data-val")
				.removeAttr("data-val-required");
			$("#WheelchairNum-error").text("");
		}
		reloadValidation();
	}

	// vehicle parking
	function ParkingOnChange(e)
	{
		if (e.currentTarget.value == 1) {
			$("#VehicleType")
				.attr("data-val", "true")
				.attr("data-rule-min", "1")
				.attr("data-msg-min", "Valid Vehicle Type is required.");

			$("#VehiclePlateNum")
				.attr("data-val", "true")
				.attr("data-val-required", "Registration Number of the vehicle is required.");
		} else {
			$("#VehicleType")
				.removeAttr("data-val")
				.removeAttr("data-rule-min")
				.removeAttr("data-msg-min")
				.removeClass("input-validation-error")
				;
			$("#VehicleType-error").text("");

			$("#VehiclePlateNum")
				.removeAttr("data-val")
				.removeAttr("data-val-required")
				.removeClass("input-validation-error");
			$("#VehiclePlateNum-error").text("");
		}
		reloadValidation();
	}

	$(document).ready(function ()
	{
		$("#HasResources").on("change", WheelchairOnChange);
		$("#HasVehicle").on("change", ParkingOnChange);

		var isFirst = $("#PassType").val() == 110;
		if (isFirst) {
			$("#MobileNum").attr("data-val-required", "Mobile number is required for first visits.");
			$("#MobileNum").attr("data-val", "true");
		} else {
			$("#HospitalNum").attr("data-val-required", "Hospital number is required for followup visits.");
			$("#HospitalNum").attr("data-val", "true");
		}

		// Reload the validation
		reloadValidation();


	});
</script>
}
