<div class="h2 display-4 mt-3 text-cstm-pri-dark shadow-text-outline">Gate Pass Type Select</div>

@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;

@inject SL.DD_Lookup DDHelp;

@{
ViewData["Title"] = "New Gate Pass";
Layout = "_Layout_Gpm_User";
@model CTX.GatePasses;
CTX.GatePasses gpEmergency = new CTX.GatePasses()
{
	PassType = (int)SE.GATE_PASS_TYPE.EMERGENCY
};
ViewBag.RootPassNum = DDHelp.FormattedPassNumber(Model.PassType, Model.PassNum);
}

<div class="container-fluid my-3">
	<span class="text-danger">@Html.ValidationSummary(false)</span>
	<div class="row p-3 justify-content-end">


		<div class="col-12 col-md-12 col-lg-6 col-xl-6">
			@await Html.PartialAsync("_PassVisitor", Model)
		</div>

		<div class="col-12 col-md-12 col-lg-6 col-xl-6">
			@await Html.PartialAsync("_PassEmergency", gpEmergency)
		</div>


	</div>
</div>

@* // BEGIN - sak -2021 Jan 29 - fix show custom depts for visitors based on type *@
@section pageScript{
<script src="~/js/custom-departments.min.js" asp-append-version="true"></script>
}
@* // FINIS - sak -2021 Jan 29 - fix show custom depts for visitors based on type *@
