@using Microsoft.Extensions.Logging;
@using CTX = gpm.Efc.dbsets;
@using EFC = gpm.Efc;
@using GC = gpm.Common;
@using GCE = gpm.Common.Enums;
@using SE = gpm_web.Enums;
@using SC = gpm_web.Consts;
@using SL = gpm_web.Lookups;
@using SLD = gpm_web.Lookups.DD_Lookup;
@using IA = gpm_web.Infra;
@using ML = gpm_web.Models;
@using stCode = gpm.Common.Enums.ErrorCode;
@using System.Linq;

@inject SL.DD_Lookup DDHelp;

@model CTX.Users;
@{
ViewData["Title"] = "Edit User";
Layout = "_Layout_Gpm_User";
bool IsNew = Model?.UserId == 0;
string lsNewOnly = IsNew ? "" : "disabled";
string lsNewEdit = IsNew ? "Create" : "Edit";
}
<!-- see https://www.learnrazorpages.com/razor-pages/forms/select-lists -->
@functions{
	string ActiveClass(bool FlagVal){
		return FlagVal ? "" : SC.TAGS.OPTION_DISABLED;
	}
}




<div class="container-fluid my-3">

	<div class="row p-3">
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	</div>

	<!-- User Edit Form -->
	<!-- ========================================================================================================== -->
	<form method="post"
			asp-controller="User"
			asp-action="Put"
			autocomplete="off"
			class="">


		<div class="row p-3">

			<!-- Padding column to push content to right -->
			<div class="col-1 col-sm-3 col-md-6">
				<div class=""></div>
			</div>

			<div class="col-12 col-sm-9 col-md-6 border border-cstm-pri shadow-light">
				<div class="h1 display-4 mt-3 text-cstm-pri-dark shadow-text-outline">
					@lsNewEdit
				</div>

				<!-- contents are not updated when the validity of elements changes while tabbing around
				<div data-valmsg-summary="true">
					<ul></ul>
				</div>
				-->

				<input class=""
					   type="hidden"
					   id="UserId"
					   name="UserId"
					   value="@Model.UserId">

				<div class="row p-2">
					<div class="col">
						<div class="form-group">
							<label for="FullName"
								   class="mb-0 mt-2 w-100">Full Name:
								<!-- <span class="small text-cstm-alt-1-dark pl-2">The Full name of the user, for
									records.</span> -->
							</label>
							<input class="form-control border-cstm-alt-2"
								   type="text"
								   id="FullName"
								   name="FullName"
								   maxlength="60"
								   data-val="true"
								   data-val-length-min="8"
								   data-val-length-max="60"
								   data-val-length="Full Name must be a string of lenth 8 to 60 chars."
								   data-val-required="Full Name must be a string of lenth 8 to 60 chars."
								   value="@Model.FullName">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="FullName"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
				</div>



				<div class="row p-2">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="DisplayName"
								   class="mb-0 mt-2 w-100">Display Name:
								<!-- <span class="small text-cstm-alt-1-dark pl-2">Short distinctive name to
									display in application.</span> -->
							</label>
							<input class="form-control border-cstm-alt-2"
								   type="text"
								   id="DisplayName"
								   name="DisplayName"
								   maxlength="24"
								   data-val="true"
								   data-val-length-min="6"
								   data-val-length-max="24"
								   data-val-required="Display Name must be a string of lenth 6 to 24 chars."
								   data-val-length="Display Name must be a string of lenth 6 to 24 chars."
								   value="@Model.DisplayName">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="DisplayName"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="UserLogin"
								   class="mb-0 mt-2 w-100">User Login:
								<!-- <span class="small text-cstm-alt-1-dark pl-2">The Login to be used for
									authentication in the sign-on form.</span> -->
							</label>
							<input class="form-control border-cstm-alt-2 text-lowercase @lsNewOnly"
								   type="text"
								   id="UserLogin"
								   name="UserLogin"
								   maxlength="24"
								   data-val="true"
								   data-val-length-min="4"
								   data-val-length-max="24"
								   data-rule-alphanumeric="Alphanum only"
								   data-val-length="User Login must be a string of lenth 4 to 24 chars."
								   data-val-required="User Login must be a string of lenth 4 to 24 chars."
								   value="@Model.UserLogin">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="UserLogin"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
				</div>



				<div class="row p-2">
					<div class="col-lg-6">

						<div class="form-group">
							<label for="UserPwd"
								   class="mb-0 mt-2 w-100">User Password:
								<!-- <span class="small text-cstm-alt-1-dark pl-2">The Password to be used for
									authentication in the sign-on form.</span> -->
							</label>
							<input class="form-control border-cstm-alt-2"
								   type="password"
								   id="UserPwd"
								   name="UserPwd"
								   maxlength="24"
								   data-val="true"
								   data-val-length-min="6"
								   data-val-length-max="24"
								   data-val-required="Password cannot be empty, and should be 8 to 24 chars long."
								   data-val-length="Password cannot be empty, and should be 8 to 24 chars long."
								   value="">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="UserPwd"
								  data-valmsg-replace="true"></span>
						</div>


					</div>
					<div class="col-lg-6">
						<div class="form-group">
							<label for="UserPwdConfirm"
								   class="mb-0 mt-2 w-100">User Password Confirm:
								<!-- <span class="small text-cstm-alt-1-dark pl-2">Confirm Password.</span> -->
							</label>
							<input class="form-control border-cstm-alt-2"
								   type="password"
								   id="UserPwdConfirm"
								   name="UserPwdConfirm"
								   data-val="true"
								   data-rule-equalTo="#UserPwd"
								   data-msg-equalTo="Passwords do not match."
								   value="">
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="UserPwdConfirm"
								  data-valmsg-replace="true"></span>
						</div>
					</div>
				</div>

				<div class="row p-2">
					<div class="col-lg-6">
						<div class="form-group">
							<label for="Role"
								   class="mb-0 mt-2 w-100">User Role:
								<!-- <span class="small text-cstm-alt-1-dark pl-2">Role determines the features
									authorized to the user in the system.</span> -->
							</label>
							<select class="custom-select cstm-select-bound"
									data-val="true"
									data-rule-range="[1,40]"
									data-msg-range="The Role field is required."
									id="Role"
									name="Role"
									data-value-current="@Model.Role">
								<option value="0">Select a Role...</option>
								@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.USER_ROLE, IsNew))
								{
									<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
								}
								<!-- <option value="1">User</option>
								<option value="2">Admin</option>
								<option value="3" 
										disabled>Analyst</option> -->
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="Role"
								  data-valmsg-replace="true"></span>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="form-group">
							<label for="Status"
								   class="mb-0 mt-2 w-100">User Status:
								<!-- <span class="small text-cstm-alt-1-dark pl-2">The current Status of the user
									in the system.</span> -->
							</label>
							<select class="custom-select cstm-select-bound"
									data-val="true"
									data-rule-range="[1,40]"
									data-msg-range="The Status field is required."
									data-value-current="@Model.Status"
									id="Status"
									name="Status">
								<option value="0">Select Status...</option> 
								@foreach (ML.DD_Item vOpt in DDHelp.GetItems(SE.DDCategories.USER_STATUS, IsNew))
								{
									<option value="@vOpt.Value" class="@ActiveClass(vOpt.Active)">@vOpt.Text</option>
								}
							</select>
							<span class="field-validation-valid text-danger cstm-text-error"
								  data-valmsg-for="Status"
								  data-valmsg-replace="true"></span>
						</div>

					</div>
				</div>

				<div class="row p-2 justify-content-end">
					<div class="col-5">
						<div class="small text-cstm-alt-1-dark text-center">Discard changes and return to
							List.</div>
						<a asp-action="Index"
						   class="btn btn-lg btn-outline-cstm-pri-dark border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100">Back
							to List</a>
					</div>
					<div class="col-5">
						<div class="small text-cstm-alt-1-dark text-center">Save Changes to database</div>
						<input type="submit"
							   class="btn btn-lg btn-cstm-pri border-cstm-dark text-cstm-alt-1-dark shadow-light mb-3 w-100"
							   value="Save"
							   id="dosignin"
							   name="dosignin">
					</div>
				</div>


			</div> <!-- Column -->
		</div> <!-- Row -->
	</form>
	<!-- ========================================================================================================== -->


</div> <!-- <div class="container-fluid my-3"> -->

	@section pageScript{
		<script>
			// Reload validation
			function reloadValidation()
			{
				$("form").removeData("validator").removeData("unobtrusiveValidation");
				$.validator.unobtrusive.parse("form");
			}

			$(document).ready(function(){
				// Set selected values of all select fields

				// Reverse the logic. Remove if != 0
				// if ($("#UserId").val() == "0"){
				// 	$("#UserPwd").attr("data-val-length-min", "8").attr("data-val-required", "Password cannot be empty, and should be 8 to 24 chars long.");
				// }
				if ($("#UserId").val() != "0"){
					$("#UserPwd").removeAttr("data-val-length-min").removeAttr("data-val-required");
					reloadValidation();
				}
			})
		</script>
	}
