@using CTX = gpm.Efc.dbsets;
@using System.Collections.Generic;
@using SL = gpm_web.Lookups;

@inject SL.DD_Lookup DDHelp;

@model List<CTX.Users>;
	@{
	ViewData["Title"] = "System Users";
	Layout = "_Layout_Gpm_User";
	}

	<div class="row p-3">
		<div class="col">
			<div class="h1 mb-0">System Users: @Model.Count</div>
		</div>
		<div class="col d-flex justify-content-end">
			<a class="btn btn-lg btn-cstm-sec-light shadow-light"
			   asp-controller="User"
			   asp-action="Edit"
			   asp-route-id="0">Create New User</a>
		</div>
	</div>

	<div class="row p-3">
		<table class="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>Login</th>
					<th>Display Name</th>
					<th>Full Name</th>
					<th>Role</th>
					<th>Status</th>
					<th>Last Login</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>

				@foreach (CTX.Users vUser in Model)
				{
				<tr>
					<td> @vUser.UserId </td>
					<td> @vUser.UserLogin </td>
					<td> @vUser.DisplayName </td>
					<td> @vUser.FullName </td>
					<td> @DDHelp.DisplayText(4, vUser.Role) </td>
					<td> @DDHelp.DisplayText(5, vUser.Status) </td>
					<td> @vUser.LastLogin.ToLocalTime().ToString("HH:mm on dd MMM yyyy") </td>
					<td>
						<a asp-action="Edit" asp-route-id="@vUser.UserId">Edit</a>
					</td>

				</tr>
				}
			</tbody>
		</table>
	</div>

	<!-- ========================================================================================================== -->
	<!-- Table formatted user list -->
