﻿<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Gate Pass Manager</title>

	<link rel="stylesheet"
			href="~/css/gpm-fonts.css" />
	<environment include="Development">
		<link rel="stylesheet"
			  href="~/css/bootstrap-gpm.css" />
		<link rel="stylesheet"
			  href="~/css/gpm.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet"
			  href="~/css/bootstrap-gpm.min.css" />
		<link rel="stylesheet"
			  href="~/css/gpm.min.css" />
	</environment>
	<link rel="stylesheet"
		  href="~/css/site.css" />
</head>

<body>
	<header>
		<!-- Mast Head -->
		<nav class="navbar bg-light border-bottom shadow-light mb-0">
			<div class="d-flex align-items-center w-100">
				<div class="d-flex align-items-start flex-fill align-items-baseline">
					<a class="h1 pl-3 shadow-text-outline text-cstm-dark"
					   asp-controller="Session"
					   asp-action="Login">Gate Pass Manager</a>
					<div>
						<div class="d-block d-sm-none mx-2">XS </div>
						<div class="d-none d-sm-block mx-2 d-md-none">SM </div>
						<div class="d-none d-md-block mx-2 d-lg-none">MD </div>
						<div class="d-none d-lg-block mx-2 d-xl-none">LG </div>
						<div class="d-none d-xl-block mx-2">XL </div>
					</div>
					<div class="pl-3 text-black-50 d-none d-sm-inline">Process, Track and Manage Gate Passes. And some
						very long text asdfadfasdfgasdfasdf asdfasdfasd asdfasf asdfasdf asdfasd dfgh fgh.</div>
				</div>
			</div>
		</nav>
	</header>

	<!-- ========================================================================================================== -->

	<div class="container-fluid">
		<!-- <partial name="_CookieConsentPartial" /> -->
		<main role="main"
			  class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container text-center">
			Developed by Novelty Data Solutions LLP
		</div>
	</footer>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/js/bootstrap-gpm.js"></script>
		<script src="~/js/gpm.js"></script>
	</environment>
	<environment exclude="Development">
		<script src="~/lib/jquery/dist/jquery.min.js"></script>
		<script src="~/js/bootstrap-gpm.min.js"></script>
		<script src="~/js/gpm.min.js"></script>
	</environment>
	<script src="~/js/site.js"
			asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>

</html>
