@{
    ViewData["Title"] = "Database Connection Test";
	Layout = "_Layout_Gpm_Public";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
				<a asp-controller="WF"
			   asp-action="DBConnectionTest">Repeat Test Again.</a>
</div>

<div class="container-fluid">
	<div class="display-4 text-center">Test Results will come here</div>
</div>
