@using Microsoft.Extensions.Logging;
@using gpm_web.Controllers;
@inject ILogger<WFController> log;

@{
    ViewData["Title"] = "Working Functions";
	Layout = "_Layout_Gpm_Public";
	log.LogDebug("==> WFController.Index");
}

<div class="container-fluid">
    <h1 class="display-4">Welcome to WF</h1>
				<a asp-controller="WF"
			   asp-action="DBConnectionTest">Database Connection Test</a>
			   <br>
				<a asp-controller="WF"
			   asp-action="PutSampleAppConfig">Create a sample Config setting</a>
</div>

<div class="container-fluid">
	<div class="display-4">Test Results:</div>
	<div class="">
		@ViewBag.Result
	</div>
</div>

<div class="container-fluid">
	<div class="display-4">Formatting test:</div>
	<div class="">
		Begin PutSampleAppConfig<br/>Got AppConfig JSON and Building DB Record<br/>Linking record to db context<br/>Saving to DB<br/>Saved to DB, unless ou see an error<br/> 
	</div>
</div>
